html {
  font-size: 12px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: Verdana,Geneva,sans-serif;  /* this should be the rest of the output you got from Google fonts */
}
h1 {
  color: green;
  text-align: left;
   
}
h2{
    background: blue;
    color: white;
    
}

p, li {
  font-size: 14px;    
  line-height: 2;
  
}
html {
  background-color:#FFFFFF;
}
body {
    style="text-align:center;"
    width: 120px;
    
}
img {
  display: block;
  padding: 5px;
  border:solid 3px;
}
